<form>
<div class="modal-dialog additemoder">

        <div class="modal-content ">
            <div class="modal-header back-img-pop">

                <h4 class="modal-title modal-wh-head">Credit Card Payment</h4>
            </div>
            <div class="modal-body">                
                <input type="hidden" id="hdnpaidamount" />               
                <input type="text" id="txtcardreader" style="display:none" class="cardreader" tabindex="0" onchange="" />
                <label class="col-lg-4 col-xs-6 property-name padl0 pad-t5">Tender Amount</label>
                <div class="col-lg-5 col-xs-6 m-b padlr0">                    
                    <input id="ctenderamountOffline" quicktender="1" readonly="readonly" value="" class="form-control" type="text" />
                </div>
                <label class="col-lg-4 col-xs-6 property-name padl0 pad-t5">Name on Card</label>
                <div class="col-lg-7 col-xs-6 m-b padlr0">
                    <input id="cname_Offline" class="form-control" type="text" placeholder="Your Full Name" />
                </div>
                <label class="col-lg-4 col-xs-6 property-name padl0 pad-t5">Card Type</label>
                <div class="col-lg-7 col-xs-6 padlr0 ">       
                    <select class="form-control m-b" id="acceptedCardCompanies" name="acceptedCard">
                        <option value="">-- Select One --</option>
                        <option value="Visa">Visa</option>
                        <option value="MasterCard">MasterCard</option>                        
                    </select>
                </div>

                <label class="col-lg-4 col-xs-6 property-name padl0 pad-t5">Card Number</label>
                <div class="col-lg-7 col-xs-6 m-b padlr0">
                    <input id="credit_CardOffline" onkeypress="return OisNumberKey(event)" onfocus="javascript: CallNumericKeyPadOffline(this.id, null, null,null,true);" class="form-control" type="password" maxlength="16" placeholder="Card Number" />
                </div>

                <div class="form-group ">
                    <label class="col-lg-4 col-xs-6 property-name padl0 pad-t5">Expiration Date</label>
                    <div class="col-lg-3 col-xs-3 padlr0">
                        <select class="form-control m-b" id="creadit_MonthyearOffline" name="account">
                            <option value="">Month</option>
                            <option value="01">Jan (01)</option>
                            <option value="02">Feb (02)</option>
                            <option value="03">Mar (03)</option>
                            <option value="04">Apr (04)</option>
                            <option value="05">May (05)</option>
                            <option value="06">Jun (06)</option>
                            <option value="07">Jul (07)</option>
                            <option value="08">Aug (08)</option>
                            <option value="09">Sep (09)</option>
                            <option value="10">Oct (10)</option>
                            <option value="11">Nov (11)</option>
                            <option value="12">Dec (12)</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-xs-3 padr0">
                        <select id="creadit_yearOffline" class="form-control m-b" name="DropDownList1"></select>
                    </div>

                    <div class="col-lg-1 col-xs-6 m-b padlr0 cvv-text">CVV</div>
                    <div class="col-lg-2 col-xs-6 m-b padl0" style="padding-right: 7px;padding-left: 0px;width:16%">

                        <input id="cvv" placeholder="CVV" maxlength="4" onkeypress="return OisNumberKey(event)" onfocus="javascript: CallNumericKeyPadOffline(this.id, null, null,null,true);" class="form-control" type="password" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <button id="submitCreditCard" class="btn btn-primary pull-right " type="button" onclick="#">Accept</button>
                <button id="CraditCardClose" type="button" class="btn btn-default pull-right m-r">Cancel</button>
            </div>
        </div>
    </div>
</form>